<!-- Footer -->
<footer class="js-footer-is-fixed">
    <!-- Footer Default -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-logo-wrapper">
                        <!-- Logo Image -->
                        <a href="{{'index.html'| prepend: site.baseurl }}" class="logo-image ">
                            <img src="{{'images/logo.png'| prepend: site.baseurl }}" alt="logo">
                        </a>
                        <!-- End of Logo Image -->
                        <!-- Slogan -->
                        <p class="slogan">Moin!</p>
                        <!-- End of Slogan -->
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="footer-wrapper">
                        <!-- Scroll top -->
								<span class="scroll-top js-scroll-top">
									<i class="fa fa-angle-up"></i>
								</span>
                        <!-- End of Scroll top -->
                        <!-- Copyright -->
                        <p class="copyright helper right">
                            <a href="http://moinjs.github.io">MoinJS</a>, all rights reserved. 2016 &copy; </p>
                        <!-- End of Copyright -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Footer Default -->
</footer>
<!-- End of Footer -->